#projects-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, var(--color-primary), #FFF); /* Your gradient colors */
    -webkit-background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Make the rest of the text transparent */
}



.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin: 40px;

}

.project {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--color-bg-variant);
    padding: 30px;
}

.project:hover {
    background-color: var(--color-bg-variant2);
    scale: 1.1;
}

#project-name {
    color: var(--color-primary-variant);
}

#project-desc {
    color: var(--color-text2);
}

@media screen and (max-width: 600px) {
    .projects {
        height: auto;
    }
    #projects-title {
        font-size: 30px;
        line-height: 40px;
    }


    .projects-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
        margin: 40px;

    }

}